@import '../mixins.scss';

.login-page-container {
    font-family: 'Montserrat', sans-serif;
    color: grey;
    position: relative;
    height: fit-content;
    width: 40vw;
    margin: 7.5vh auto 0 auto;
    span {
        position: absolute;
        max-width: fit-content;
        right: 60px;
        left: 60px;
        bottom: 2vh;
    }
}

.login-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
    border: 10px solid #0D4266;
    padding: 0px 50px 0px 50px;
    border-radius: 5px;
    h1 {
        @include main-title(_, 700, _, grey);
        text-align: center;
    }
    .MuiButton-root {
        border-color: #0D4266;
        color: grey;
        width: 30%;
        margin: 0 auto;
        &:hover {
            border-color: grey;
            color: #0D4266;
        }
    }
}