@import '../../mixins.scss';

* {
  @include default-settings;
}

.hit-of-sales-container {
  @include default-maket-settings(#FFFFFF, #292929);
  min-height: 883px;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-top: 87px;

  .title-area {
    display: flex;
    justify-content: space-between;
    h2 {
      font-size: 45px;
      line-height: 58.5px;
    }
    button {
      @include buttons-settings(fit-content, fit-content, transparent, #0D4266, 0px, 0px);
      font-size: 18px;
      border-bottom: 2px solid #0D4266;
    }
  }
  
  .card-wrapper {
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
  }
}